@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
   background-color: rgb(255, 77, 77);
    .container{
        height: 200px;
        width: 200px;
        background-color: rgb(255, 77, 77);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
p{
    margin: 2px;
    font-size: 30px;
    font-family: 'Qahiri', sans-serif;
}
.container{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
     -10px -10px 20px  rgba(255, 255, 255, 0.4);
}